<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807288899830-kt46aglaenp4f4tlvk039j0kkv4cvdn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807288899830-kt46aglaenp4f4tlvk039j0kkv4cvdn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>807288899830-e8k2sv60078kjod45d51e33rqe66e5kp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1qna4rlGnwhIoX3bBBiGgZKIkHClR7Qg</string>
	<key>GCM_SENDER_ID</key>
	<string>807288899830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meuniMobile</string>
	<key>PROJECT_ID</key>
	<string>meuni-9d616</string>
	<key>STORAGE_BUCKET</key>
	<string>meuni-9d616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807288899830:ios:9d21d04b2568fc576dc4d7</string>
	<key>DATABASE_URL</key>
	<string>https://meuni-9d616-default-rtdb.firebaseio.com</string>
</dict>
</plist>