# Create a .env file with the same structure

APP_ID=[Insert App ID]
API_KEY=[Insert App Key]
AUTH_DOMAIN=[Insert Auth Domain]
PROJECT_ID=[Insert Project ID]
SENDER_ID=[Insert Sender ID]
DATABASE_URL=[Insert Database URL]